@font-face{
    font-family: "myfont";
    src:url('../font/Lato-Regular.ttf') format('truetype');
}

body{
    margin: 0;
    padding: 0;
    font-family: "myfont";
}

.imagefond{
    background: url(../images/backgradiant.jpg) no-repeat center center fixed; 
    background-size: cover;
}

/*espace général------------------*/

/*Pour appliquer une border-radius il faut l'indiquer directement dans le lien de l'image*/
.bordures{
    border-radius: 15px;
}

/*pour supprimer le soulignage des liens*/
.ligne{
    text-decoration: none !important;
}


/*Espace menu---------------------*/

/*modification de la class bootstrap du dropdown*/
.dropdown-menu{
    background-color: transparent;
    border: solid 2px #FEA347;
}
.dropdown-item{
    background-color: transparent;
    font-size: 1.2em;
}
.dropdown-item:hover{
    background-color: transparent; 
}

/*Modification des balises a du menu et de l'accueil'*/
a{
    color: #FEA347!important;
    transition:all 0.3s;
    margin-right: 25px;
}
a:hover{
    color: #fe4d46!important;
}

/*couleur du menu burger*/
.navbar-toggler{
    background-color: #FEA347;
}

/*class pour augmenter la taille des titres et du bouton home du menu*/
.taille_cara{
    font-size: 1.4em;
}
.fa-home{
    font-size: 1.5em;
}

/*Menu accueil--------------------*/

.titre{
    font-size: 2em;
    text-align: center;
    color: #FEA347;
    margin: auto;
    margin-top: 200px;
}

.trait{
    border: 3px #FEA347 solid;
    width: 475px;
    margin-top: 30px;
}

.centrertext{
    text-align: center;
    font-size: 1.3em;
    color: white;
}

.couleurnom{
    color: #FEA347;
}

#bouton-accueil{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    transition:all 0.3s;
}

/*modification de la taille et du temps de survol des boutons link et pdf*/
.fab .far{
    transition:all 0.3s;
}
.far{
    transition:all 0.3s;
}
.fa-linkedin{
    font-size: 3em;
}
.fa-file-pdf{
    font-size: 3em;
}

/*modification de la couleur des boutons au survol*/
.fab:hover{
    color: #fe4d46;  
}
.far:hover{ 
    color: #fe4d46;
}

/*espace Presentation-------------*/

.espace{
    margin-top: 50px;
}

.titre-presentation{
    font-size: 2em;
    text-align: center;
    color: #FEA347;
    margin: auto;
    margin-top: 50px;
}

.textpresentation{
    text-align: justify;
    font-size: 1.3em;
    color: white;
}

.iconepresentation{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 20px;
}

.li-espace{
    margin-bottom: 5px;
}

/*espace delpeyrat----------------*/

.fa-door-open{
    font-size: 3em;
    margin-left: 70px;
    margin-bottom: 10px;
}
.fa-money-bill-alt{
    font-size: 3em;
    margin-left: 90px;
    margin-bottom: 10px;
}

/*espace CESI---------------------*/

/*conteneur d'une partie du texte de la page cesi*/
#container-cesi{
    display: flex;
    justify-content: space-around;
    height: 230px;
    width: 1150px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

#imagecesi{
    margin-top: 20px;
    transition:all 0.5s;
}
#imagecesi:hover{
    opacity: 0.8;
    box-shadow: 10px 10px 10px #FEA347;
}

/*mise en place des boutons de la page cesi*/
.fa-calendar-alt{
    font-size: 5em;
    margin-left: 30px;
    margin-bottom: 10px;
}
.fa-list-alt{
    font-size: 5em;
    margin-left: 40px;
    margin-bottom: 10px;
}
.fa-university{
    font-size: 5em;
    margin-left: 30px;
    margin-bottom: 10px;
}

/*espace parcours-----------------*/

.texteparcours{
    text-align: justify;
    font-size: 1.2em;
    margin-top: 30px;
    color: white;
}
.date{
    font-size: 1.3em;
    text-align: center;
    color: white;
}

.titreparcours{
    font-size: 2em;
    text-align: center;
    color: #FEA347;
    margin: auto;
    margin-top: 50px;
}

/*espace delpeyrat, l'image oblige a un leger changement des marges*/
#container-parcours-delp{
    display: flex;
    justify-content: space-around;
    height: 270px;
    width: 1220px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}
#imagedelp{
    margin-left: 90px;
    margin-top: 30px;
}

/*legerement different du container-cesi a cause de la taille de l'image*/
.container-parcours{
    display: flex;
    justify-content: space-around;
    height: 270px;
    width: 1150px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

/*class utilisé pour les pôles cesi et pour les noms d'entreprises du parcours*/
.entreprise{
    font-size: 1.2em;
    color: #FEA347;
    margin-bottom: 5px;
}

#container-vendeur{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin: auto;
    margin-top: 30px;
}

/*espace image du niveau vendeur*/
#parcourcolonne{
    flex-direction: column;
    margin-left: 120px;
    margin-top: 20px;
}
#imageleclerc{
    margin-bottom: 40px;
}
#imageconfo{
    margin-bottom: 40px;
    margin-top: 10px;
}

/*espace image du reste du parcours*/
#imagedarty{
    margin-left: 120px;
    margin-top: 30px;
}
#imagepizza{
    margin-left: 120px;
    margin-top: 30px;
}

/*espace Projets :--------------------*/

#colonnesprojet{
    text-align: center;
    margin-top: 50px;
    padding: 30px;
}

/*applicable sur chaque projet pour faire des espaces séparés*/
.presentationprojet{
    max-width: 100%;
    border-radius: 8px; 
    border: solid 5px #FEA347;
    max-height: 100%;
    transition:all 0.5s;
    padding: 5px;
}

.presentationprojet:hover{
    color: #fe4d46;
    list-style-type: none !important;
}

.fa-balance-scale{
    font-size: 2em;
    color: #FEA347;
}
.fa-sitemap{
    font-size: 2em;
    color: #FEA347;
}
.fa-server{
    font-size: 2em;
    color: #FEA347;
}
.fa-handshake{
    font-size: 2em;
    color: #FEA347;
}
.fa-file-code{
    font-size: 2em;
    color: #FEA347;
}

/*espace contact-------------------------------*/

#imagecontact{
    background: url(../images/backit2.jpg) no-repeat center center fixed; 
    background-size: cover;
}

/*differente margin top pour le titre contact*/
#titre-contact{
    font-size: 2em;
    text-align: center;
    color: #FEA347;
    margin: auto;
    margin-top: 160px;
}

#contact{
    margin-top: 50px;
}

.invalid-feedback{
    font-size: 1.1em;
}

.boutonenvoie{
    background-color: #FEA347;
    border: none;
}
.boutonenvoie:hover{ 
    background-color: #fe4d46;
}


/*permet de mettre un fond sur le menu en srcollant*/
.fixed-top.scrolled {
    background-color: #333d3f !important;
    transition: background-color 200ms linear;
}

/*permet de mettre un fond sur le menu dropdown*/
.dropdown-menu.scrolled {
    background-color: #333d3f !important;
    transition: background-color 200ms linear;
}

/*espace media queries*/

/*permet de mettre un fond sur la barre du menu*/
@media (max-width:992px){
    #mainNav
    {background-color:#333d3f;}}

/*permet de passer l'image CESI en dessous du texte*/
@media (max-width:992px){
    #container-cesi
    {display: flex;
     flex-direction: column;
     margin-top: 13%;
     margin-bottom: 15%;}
}

/*permet de garder les icones au dessus du texte*/
@media (max-width:992px){
    #iconecesi
    {font-size: 0.8em;}
}

/*permet de centrer l'ensemble du texte*/
@media (max-width:992px){
    .container-centrer
    {margin-left: 38%}
}

